<h1>Listing users chanllenge 1</h1>

<table>
  <tr>
    <th>User</th>
    <th>Encrypted Name</th>
    <th>Num Groups</th>
    <th>Groups</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.crypted_name %></td>
      <td><%= user.num_groups%></td>
      <td><%= user.groups_names%></td>
    </tr>
  <% end %>
</table>

<h1>Listing maps views chanllenge 2</h1>

<table>
  <tr>
    <th>Group</th>
    <th>User</th>
    <th>Views</th>
  </tr>

  <% @mapsViews.each do |mapView| %>
    <tr>
      <td><%= mapView['group_name']%></td>
      <td><%= mapView['user']%></td>
      <td><%= mapView['views']%></td>
    </tr>
  <% end %>
</table>

<h1>Listing maps views chanllenge 3 extra ball</h1>

<table>
  <tr>
    <th>Group</th>
    <th>User</th>
    <th>Views</th>
    <th>% of Group Views</th>
  </tr>

  <% @mapsViewsPercentage.each do |mapView| %>
    <tr>
      <td><%= mapView['group']%></td>
      <td><%= mapView['user']%></td>
      <td><%= mapView['views']%></td>
      <td><%= mapView['percent_of_group_views']%></td>
    </tr>
  <% end %>
</table>
